@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<GetMessatListDto>
<li class="nav-item dropdown d-none d-sm-flex">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-email-outline"></i>
        <span class="count count-varient2">@ViewBag.messagecount</span>
    </a>
    <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">@localizer["Mesajlar"]</h6>
        @foreach (var item in Model)
        {
            
            <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="~/UserImage/@item.SenderUserImageUrl" alt="" class="profile-pic" />
                </div>
                <div class="preview-item-content">
                    <p class="mb-0">
                        @item.SenderUserName 
                        @if (item.Detail.Length < 50)
                        {
                            <span class="text-small text-muted">@item.Detail</span>
                        }
                        else
                        {
                            <span class="text-small text-muted">@item.Detail.Substring(0,50)</span>
                        }
                    </p>
                </div>
            </a>
        }
        
        
        
        <h6 class="p-3 mb-0">Tüm mesajları gör</h6>
    </div>
</li>