@model RegisterAppUserDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Ol</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/colorlib-regform-7/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Kullanıcı Kayıt Formu</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Adınız">
                                <span asp-validation-for="@Model.Name" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" class="form-control" asp-for="@Model.Surname" placeholder="Soyadınız">
                                <span asp-validation-for="@Model.Surname" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı adınız">
                                <span asp-validation-for="@Model.UserName" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email adresiniz" asp-for="@Model.Email" />
                                <span asp-validation-for="@Model.Email" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="@Model.Password" id="pass" placeholder="Password" />
                                <span asp-validation-for="@Model.Password" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" asp-for="@Model.ConfirmPassword" id="re_pass" placeholder="Şifre tekrar" />
                                <span asp-validation-for="@Model.ConfirmPassword" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" asp-for="@Model.Check" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>Tüm şartları okudum kabul ediyorum.  <a href="#" class="term-service">Şartlar</a></label>
                                <span asp-validation-for="@Model.Check" style="color:red;"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" style="color:red;"></div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/Login/Index" class="signup-image-link">Zaten bir hesabım var</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/colorlib-regform-7/vendor/jquery/jquery.min.js"></script>
    <script src="~/colorlib-regform-7/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>